$color-bkg-darker: #1E272C;
$color-bkg-lighter: #263238;
$color-border: #535B5E;
$color-border-transparent: #12171A33;
$color-border-dark: #12171A;
$color-primary: #00BCD4;
$color-primary-transparent: #00BCD433;
$color-front: #638292;
$color-front: #638292;
$color-accent: #E91E63;
$color-accent-transparent: #E91E6333;